/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.pl-1{
    padding-left: 4px !important;
}
.pl-3{
    padding-left: 12px;
}
.pr-3{
    padding-right: 12px;
}
.f-25{
    font-size: 25px;
}
.f-13{
    font-size: 13px
}
.f-11{
    font-size: 11px;
}
.text-right{
    text-align: right;
}
.align-center{
    align-items: center;
}
.float-right{
    float: right;
}
.bold{
    font-weight: bold;
}
.my-2{
    margin: 8px 0px;
}